@{
    ViewData["Title"] = "Что это такое.";
}
<h1>@ViewData["Title"]</h1>

<p>Этот сайт создан только в учебных целях и для показания своих знаний в архитектуре и бекенд разработке(фротн на пофиг делал).</p>
<p>Мой гитхаб https://github.com/SHZ-Alex</p>
<p>Код проекта https://github.com/SHZ-Alex/FastFoodShop</p>