@using FastFoodShop.Web.Models.Enums
@using Microsoft.OpenApi.Extensions
@{

	var status = Context.Request.Query["status"];
	var approved = "";
	var readyforpickup = "";
	var cancelled = "";
	var all = "";

	switch(status){
		case "Принят":
			approved = "active text-white bg-secondary";
			break;
		case "Готово к выдаче":
			readyforpickup = "active text-white bg-secondary";
			break;
		case "Отмененные":
			cancelled = "active text-white bg-secondary";
			break;
		default:
			all = "active text-white bg-secondary";
			break;
		}
}

<div class="card shadow border-0 mt-4">
	<div class="card-header bg-secondary bg-gradient ml-0 py-3 d-flex justify-content-between">
		<div class="row">
				<h1 class="text-white">Список заказов</h1>
		</div>
		<ul class="list-group list-group-horizontal-sm pt-2">
			<a style="text-decoration:none" asp-controller="Order" asp-action="OrderIndex" asp-route-status="approved">
				<li class="list-group-item @approved">Принятые</li>
			</a>
			<a style="text-decoration:none" asp-controller="Order" asp-action="OrderIndex" asp-route-status="readyforpickup">
			<li class="list-group-item @readyforpickup">Готовы к выдаче</li>
			</a>
			<a style="text-decoration:none" asp-controller="Order" asp-action="OrderIndex" asp-route-status="cancelled">
			<li class="list-group-item @cancelled">Отмененные</li>
			</a>
			<a style="text-decoration:none" asp-controller="Order" asp-action="OrderIndex" asp-route-status="Все">
			<li class="list-group-item @all">Все</li>
			</a>
		</ul>
	</div>
	<div class="card-body p-4">
		<table id="tblData" class="table table-bordered table-striped pt-3" style="width:100%">
			<thead>
				<tr>
					<th>Номер заказа</th>
					<th>Почта</th>
					<th>Имя</th>
					<th>Телефон</th>
					<th>Статус</th>
					<th>Сумма</th>
					<th></th>
				</tr>
			</thead>
		</table>
	</div>
</div>

@section Scripts{
	<script src="~/js/order.js"></script>
}