@model int
<div class="text-center">
    <h1 class="text-info pt-4">Поздравляю! Ваш заказ был оплачен.</h1>
    <p class="pb-3">Ваш заказ будет готов в течении 30 минут!</p>
    <h4 class="text-warning pb-3">Номер заказа - @Model</h4>
    <img src="/images/order.PNG" width="80%" />
</div>